<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>angular的事件</title>
    <script src="js/angular.min.js"></script>
</head>
<body>
<div ng-app="event_module">
    <div ng-controller="click_ctrl">
        <button ng-click="count = count + 1">点我</button>
        <p>{{count}}</p>
    </div>
    <div ng-controller="person_ctrl">
        <button ng-click="toggle()">隐藏/显示</button>

        <p ng-hide="myVar">
            name: <input type="text" ng-model="firstName"/><br/>
            lastname: <input type="text" ng-model="lastName"/><br/>
            <br/>
            Full Name : {{firstName + " " + lastName}}
        </p>
    </div>

    <div ng-controller="event_ctrl">
        Root Scope:
        <span>MyEvent</span> count: {{count}}
        <ul>
            <li ng-repeat="i in [1]" ng-controller="event_ctrl">
                <button ng-click="$emit('MyEvent')">
                    $emit('MyEvent')
                </button>
                <!--<span>循环次数：{{i}}</span>-->
                <button ng-click="$broadcast('MyEvent')">
                    $broadcast('MyEvent')
                </button>
                <br/>
                Middle scope
                <span>MyEvent</span> count: {{count}}
                <ul>
                    <li ng-repeat="item in [1,2]" ng-controller="event_ctrl">
                        Leaf scope
                        <span>MyEvent</span> count: {{count}}
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<script src="js/controller/event_module.js"></script>
</body>
</html>