<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <title>模块化演示</title>
</head>
<body ng-app="MyModule">
<div ng-controller="helloAngular">
    <h1>{{greeting.text}},Angular</h1>
</div>
<div ng-controller="greetCtrl">
    <p>Hello {{name}}!</p>
</div>
<div ng-controller="listCtrl">
    <ul>
        <li ng-repeat="name in names">
            {{name}} from {{department}}
        </li>
    </ul>
</div>
<div ng-controller="listCtrl">
    <ul>
        <li ng-repeat="name in names">
            {{name}} ,from {{department}}
        </li>
    </ul>
</div>
<div ng-controller="hehe">
    <ul>
        <li ng-repeat="hehe in hehes">
            <h3>{{hehe}}</h3>
        </li>
    </ul>
</div>
<!--angularjs的指令4种加入方式 begin-->
<hello>
    <div>这里面的东西会被替换的</div>
</hello>
<div hello=""></div>
<div class="hello"></div>

<!-- directive:hello -->
<div></div>
<!---------------------------------end--------------------->

<hahacom></hahacom>
<script type="text/javascript" src="js/demo2.js"></script>
</body>
</html>